{% extends "_base.html" %}

{% block content %}

<h2>Hi, admin. Would you like to add more songs?</h2>

<div class="row">
  <div class="column">
    <table>
      <tr>
        <th class='table header' colspan="2">Current Database of Songs</th>
      </tr>
      <tr>
        <th>Song</th>
        <th>Artist</th>
      </tr>
      {% for song in songs %}
      <tr>
        <td>{{ song.title }}</td>
        <td>{{ song.artist }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="column">
    <table>
      <tr>
        <th class='table header' colspan="2">Popularity</th>
      </tr>
      <tr>
        <th>Song</th>
        <th>No. of Adds</th>
      </tr>
      {% for song in song_popularity %}
      <tr>
        <td><em>{{ song.title }}</em><br>{{ song.artist }}</td>
        <td>{{ song.n }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>


<!-- Add song form -->
<h2 class="title">Add new songs:</h2>
<div class="formwrapper">
  <form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=50) }}<br>

        </p>
        <p>
            {{ form.artist.label }}<br>
            {{ form.artist(size=50) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}
